

<!DOCTYPE html>

<html lang="eng-us">
    <head>
        <title>Introduction</title>
        <meta charset="utf-8">
        <style>
            strong{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color:rgb(32, 29, 9)
            }
            h1{text-align: center;}
            p{font-family: arial; font-size: medium;
            }
        </style>
    </head>
    <body>
        <h1> Welcome to <strong>Retailers!</strong></h1>
        <section>
            <div>
                <p>On this platform, you will learn how to work in retail environments and become
                proficient in various store operations. We will guide you on how to develop
                the right behavior, how to interact with customers, and how to handle various
                situations effectively. You will also learn techniques for de-escalating
                    conflicts, managing stress, and maintaining a professional attitude.
                    Not only will you gain valuable job skills, but you will also develop 
                    essential interpersonal skills that will help you succeed in any retail
                    environment.
                </p>
            </div>
            <p>      
                  This course will also help citizens of Texas improve their job prospects
                   in retail stores. Upon completion, you will earn a certificate certified 
                   by <b ><i>H-E-B</i></b> , along with a score that will be reviewed by retail employers
                    during the hiring process. Your certificate score will reflect how
                     ready you are to work in a retail environment, and it will play a
                      key role in your recruitment.
            </p>
            <p>
                <b><i>H-E-B</i></b> is the best retail place in Texas, and with this certification,
                you'll be one step closer to joining its great team, as well as other retail places.

        
            </p>


        </section>
        
        


    </body>
</html>